* {
    box-sizing: border-box;
  }  

  /* General */
  body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #222222;
  }

  a, p, h1, h2, h3, h4, h5 {
    color: white; 
    font-weight: 100;
  }

  a {
    text-decoration: none;
  }

  a:hover{
    text-decoration: underline; /* add underline on hover */
    color: white;
  }

  h1 {
    font-size: 3.5em;
  }

  h2 {
    font-size: 3em;
  }

  h3 {
    font-size: 2.5em;
  }

  h4 {
    font-size: 2em;
  }

  h5 {
    font-size: 1.75em;
  }

  p{
    font-size: 1.25em;
  }




  
   /* Header/logo Title */
   .background-image {
      background-image: linear-gradient(rgba(0, 0, 0, 0.50), rgba(0, 0, 0, 0.50)), url('./images/pasfoto-edited-2.jpg');
      background-size: cover;
      background-repeat: no-repeat;
      height: 50vh;  
      background-position: center center;
      display: flex;
      flex-direction: column;
      align-items: center;
      /*
      border-bottom-left-radius: 1rem;
      border-bottom-right-radius: 1rem;
      */
      background-attachment: scroll;

  }

  .background-image .titel {
    margin-top: auto;
		margin-bottom: auto;
    
  }
  .titel h1{
    text-align: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
  }
  

  /* Style the top navigation bar */

  nav {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: center;
    margin: 0px 0;
    padding: 10px;
  }
  
  nav a {
    display: block;
    margin: 0 10px;
    padding: 10px;
    text-align: center;
    color: #ffffff;
    background-color: #6494ed00;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: x-large;
    /*outline: 2px solid rgb(255, 255, 255);*/
    border-radius: 10px;
  }
  
  /* Right-aligned link */
  .navbar a.right {
    float: right;
  }
  
  /* Change color on hover */
  .navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Change color on active */
  .navbar a:active {
    background-color: rgb(92, 138, 245);
    color: black;
  }


 
  

  /*Content*/
  .container {
    background-color: #222222;
    color: white;
  }

  .card {
    background-color: #181818;
    border-radius: 0rem;
    margin-top: 25px;
    border: none;
  }

  .card-img-custom{
    width: 50%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .card-img-custom-small{
    width: 25%;
    display: block;
    margin: 0 auto;
    padding-top: 1rem;
  }

  .card-img {
    border-radius: 0rem;
  }

  .card-bio {
    background-color: #222222;
  }

  .card-bio p {
    padding-top: 1rem;
  }

  .row, .col-head {
    padding: 20px;
  }

  .spacing {
    margin: 6rem;
  }

  .smallspacing{
    margin: 4rem;
  }

  .carousel {
    padding-top: 2rem;
  }

  .grey-background{
    background-color: #6A6A6A;
  }

  .vert-flex{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  /* Footer */
  .footer {
    padding: 20px;
    text-align: center;
    background: #181818;
    /*border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;*/
  }
  






  /* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 700px) {
    .row {   
      flex-direction: column;
    }
  }
  
  /* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
  @media screen and (max-width: 400px) {
    .navbar a {
      float: none;
      width: 100%;
    }
  }